body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", 'Titillium Web',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.contact {
  background: rgb(49, 49, 52);
  text-align: left;
  color: rgb(160, 49, 225) !important;
}
.connect {
  text-align: center;
}

.bg {
  background-image: url(./Images/landing.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white,
}

.navBar {
  height: 8vh;
}

.navbar-name {
  color:  rgb(160, 49, 225) !important;
  font-weight: 500;
  font-size: 60px;
}

.navbar-links {
  color:  white !important;
}

.projtext {
  text-align: left;
}

.projectImage {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.bannerText{
  color:  rgb(160, 49, 225);
  /* font-style: italic; */
  font-size: 80px;
  font-weight: 600;
}

.bannerPara{
  color:white;
  font-size: 30px;
}

.compHeader {
  color: #802BB1
}

.landingInfo{
  margin: 0 auto; 
  float: none;
  display:flex; 
  flex-direction:row 
}

.contactForm {
  margin: 0 auto;
  width: 700px
}
.creator {
  font-size: 2%
}

.footer {
  background: rgb(49, 49, 52);
  color: white;
  height: 10vh;
}

.projects {
  display: flex;
  margin: auto;
  width: 80%;
  padding: 10px;
}
.articles {
  display: flex;
  margin: auto;
  width: 75%;
  padding: 10px;
}